In [1]:
import pandas as pd
import pathlib
import os

In [3]:
data = pd.read_csv('../../data/ihdp-raw/ihdp-hill-2011/data/example_data.csv')
data.head()

,iqsb.36,dose400,treat,bw,momage,nnhealth,birth.o,parity,moreprem,cigs,...,b.marryF,livwhoF,languageF,whenprenF,drugs.1,othstudy.1,momed4F,siteF,momraceF,workdur.imp.1
0,120.0,1,1,1559,33,94,2,2,1,0,...,1,1,1,1,2,2,4,1,w,1
1,90.0,0,1,1420,15,85,2,2,0,0,...,2,2,1,0,2,2,1,1,b,1
2,76.0,0,0,1000,33,89,4,5,0,20,...,3,2,1,1,2,2,1,1,b,1
3,43.0,0,0,1430,22,112,1,1,0,0,...,2,2,1,1,2,2,1,1,b,0
4,73.0,0,0,1984,20,99,1,1,0,10,...,2,2,1,2,2,2,3,1,b,0

In [7]:
data=data.dropna(subset=['iqsb.36'], axis=0)

In [8]:
data.head()

,iqsb.36,dose400,treat,bw,momage,nnhealth,birth.o,parity,moreprem,cigs,...,b.marryF,livwhoF,languageF,whenprenF,drugs.1,othstudy.1,momed4F,siteF,momraceF,workdur.imp.1
0,120.0,1,1,1559,33,94,2,2,1,0,...,1,1,1,1,2,2,4,1,w,1
1,90.0,0,1,1420,15,85,2,2,0,0,...,2,2,1,0,2,2,1,1,b,1
2,76.0,0,0,1000,33,89,4,5,0,20,...,3,2,1,1,2,2,1,1,b,1
3,43.0,0,0,1430,22,112,1,1,0,0,...,2,2,1,1,2,2,1,1,b,0
4,73.0,0,0,1984,20,99,1,1,0,10,...,2,2,1,2,2,2,3,1,b,0

In [9]:
data=data[~((data['dose400']==0) & (data['treat']==1))]

In [10]:
data.shape

(628, 50)

In [11]:
data.treat.value_counts()

0    561
1     67
Name: treat, dtype: int64

In [12]:
data.dose400.value_counts()

0    561
1     67
Name: dose400, dtype: int64

In [14]:
(data.treat==data.dose400).sum()

628

In [15]:
data=data.drop(columns=['dose400'])

In [17]:
data.to_csv('../../data/ihdp-cleaned/example_data_cleaned.csv', index=False)